* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  color: white;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.small-screen {
  display: none;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.437);
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: black;
}
main .back {
  width: 100%;
  height: 100%;
  position: absolute;
}
main .top {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  position: relative;
  padding: 1rem;
}
main .top .Date-Time {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
main .top .Date-Time h1 {
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
}
main .top .Date-Time ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: hsla(0, 0%, 100%, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: inset 0 0 8px 1px hsla(0, 0%, 100%, 0.153);
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  padding: 1rem;
  border-radius: 1rem;
}
main .top .Date-Time ul li {
  background: hsla(0, 0%, 100%, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: inset 0 0 8px 1px hsla(0, 0%, 100%, 0.153);
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  border-radius: 1rem;
  padding: 1rem;
  list-style: none;
}
main .top .folder {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1;
}
main .top .folder img {
  width: 3rem;
}
main .top .folder-window,
main .top .terminal,
main .top .wallpaper-window,
main .top .calender-window {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 30rem;
  display: none;
  position: fixed;
  top: 100px;
  left: 100px;
  resize: both;
  overflow: hidden;
  z-index: 1;
}
main .top .folder-window .upper,
main .top .terminal .upper,
main .top .wallpaper-window .upper,
main .top .calender-window .upper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsla(0, 0%, 100%, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: inset 0 0 8px 1px hsla(0, 0%, 100%, 0.153);
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  padding: 0rem 0.8rem;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .top .folder-window .upper img,
main .top .terminal .upper img,
main .top .wallpaper-window .upper img,
main .top .calender-window .upper img {
  width: 1rem;
  cursor: pointer;
}
main .top .folder-window .upper .right,
main .top .terminal .upper .right,
main .top .wallpaper-window .upper .right,
main .top .calender-window .upper .right {
  cursor: pointer;
}
main .top .folder-window .upper:active,
main .top .terminal .upper:active,
main .top .wallpaper-window .upper:active,
main .top .calender-window .upper:active {
  cursor: grabbing;
}
main .top .folder-window .lower,
main .top .terminal .lower,
main .top .wallpaper-window .lower,
main .top .calender-window .lower {
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 100%, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: inset 0 0 8px 1px hsla(0, 0%, 100%, 0.153);
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
main .top .calculator {
  min-width: 17rem;
  min-height: 27rem;
  background: hsla(0, 0%, 100%, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 100px;
  display: none;
  resize: both;
  overflow: hidden;
  max-width: 20rem;
  max-height: 30rem;
  z-index: 1;
}
main .top .calculator .upper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  cursor: grab;
}
main .top .calculator .upper img {
  width: 1rem;
  cursor: pointer;
}
main .top .calculator .upper:active {
  cursor: grabbing;
}
main .top .calculator .bottom {
  width: 100%;
}
main .top .calculator .bottom .display {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}
main .top .calculator .bottom .display input {
  text-align: right;
  flex: 1;
  font-size: 1.5rem;
}
main .top .calculator .bottom form {
  width: 100%;
  height: 100%;
}
main .top .calculator .bottom form input {
  min-width: 3rem;
  min-height: 3rem;
  outline: 0;
  background: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  color: white;
  margin: 0.5rem;
  font-size: 1rem;
}
main .top .calculator .bottom .equal {
  width: 7.2rem;
  color: red;
}
main .top .terminal .upper {
  background: hsla(0, 0%, 100%, 0.4);
}
main .top .terminal .lower {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: hsla(0, 0%, 100%, 0.5);
}
main .top .wallpaper-window {
  min-width: 50rem;
  min-height: 30rem;
  /* Track */
  /* Handle */
}
main .top .wallpaper-window .lower {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  resize: both;
  overflow: auto;
  /* width */
}
main .top .wallpaper-window .lower .card {
  width: 18rem;
  height: 10rem;
  background-color: red;
  display: flex;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  overflow: hidden;
}
main .top .wallpaper-window .lower::-webkit-scrollbar {
  width: 8px;
}
main .top .wallpaper-window .lower::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}
main .top .wallpaper-window .lower::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.5);
  border-radius: 1rem;
}
main .top .main-menu-window {
  width: 50vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 2rem;
  padding: 1rem;
  z-index: 999;
  display: none;
}
main .top .main-menu-window .apps {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  justify-content: center;
}
main .top .main-menu-window .apps .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
main .top .main-menu-window .apps .app p {
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  white-space: nowrap;
}
main .top .main-menu-window .apps .app:hover {
  scale: 1.05;
}
main .top .main-menu-window .apps .app:active {
  scale: 0.98;
}
main .top .main-menu-window img {
  width: 2rem;
}
main .top .calender-window {
  min-width: 40rem;
  min-height: 35rem;
}
main .top .calender-window .lower {
  background: hsla(0, 0%, 100%, 0.5);
}
main .top .calender-window .lower .wrapper {
  width: 25rem;
  height: 26rem;
  background-color: hsla(0, 0%, 100%, 0.6);
  color: black;
  padding: 0.8rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .top .calender-window .lower .wrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}
main .top .calender-window .lower .wrapper .weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
  font-weight: 500;
  color: #333;
}
main .top .calender-window .lower .wrapper #days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
main .top .calender-window .lower .wrapper #days div {
  aspect-ratio: 1;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.2s;
  cursor: default;
}
main .top .calender-window .lower .wrapper #days div:hover {
  background-color: rgba(0, 123, 255, 0.1);
}
main .top .calender-window .lower .wrapper #days .today {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
main .top .calender-window .lower .wrapper #days .empty {
  visibility: hidden;
}
main .bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 9999;
}
main .bottom .task-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
}
main .bottom .task-bar .apps,
main .bottom .task-bar .menu,
main .bottom .task-bar .weather {
  border-radius: 2rem;
  padding: 0.5rem 0.8rem;
  background: hsla(0, 0%, 100%, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: inset 0 0 8px 1px hsla(0, 0%, 100%, 0.153);
  border: 1px solid hsla(0, 0%, 100%, 0.3);
}
main .bottom .task-bar .apps ul,
main .bottom .task-bar .menu ul,
main .bottom .task-bar .weather ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
main .bottom .task-bar .apps ul li,
main .bottom .task-bar .menu ul li,
main .bottom .task-bar .weather ul li {
  list-style: none;
}
main .bottom .task-bar .apps img,
main .bottom .task-bar .menu img,
main .bottom .task-bar .weather img {
  width: 2rem;
}
main .bottom .task-bar .menu i {
  font-size: 1.1rem;
}
main .bottom .task-bar .weather img {
  width: 1.2rem;
}
main .bottom .task-bar .apps {
  transition: all ease 0.9s;
}
main .bottom .task-bar .apps ul li:hover {
  scale: 1.1;
}
main .bottom .task-bar .apps ul li:active {
  scale: 0.98;
}
main .bottom .task-bar .apps #main-menu img {
  width: 1.9rem;
}
main .menu-expand {
  position: absolute;
  bottom: 10%;
  right: 1%;
  border-radius: 2rem;
  padding: 0.5rem 0.8rem;
  background: hsla(0, 0%, 100%, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: inset 0 0 8px 1px hsla(0, 0%, 100%, 0.153);
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  transition: 0.5s all ease;
  z-index: 99;
  display: none;
}
main .menu-expand .expand .taskBar {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 60px 60px 70px 70px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  grid-template-areas: "a b c" "d e f" "brightness brightness brightness" "volume volume volume";
}
main .menu-expand .expand .taskBar .img1 {
  grid-area: a;
}
main .menu-expand .expand .taskBar .img2 {
  grid-area: b;
}
main .menu-expand .expand .taskBar .img3 {
  grid-area: c;
}
main .menu-expand .expand .taskBar .img4 {
  grid-area: d;
}
main .menu-expand .expand .taskBar .img5 {
  grid-area: e;
}
main .menu-expand .expand .taskBar .img6 {
  grid-area: f;
}
main .menu-expand .expand .taskBar .brightness {
  grid-area: brightness;
}
main .menu-expand .expand .taskBar .volume {
  grid-area: volume;
}
main .menu-expand .expand .taskBar img {
  width: 1.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main .menu-expand .expand .taskBar .img {
  background: hsla(0, 0%, 100%, 0.05);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: inset 0 0 8px 1px hsla(0, 0%, 100%, 0.153);
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 2rem;
  padding: 0.8rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .menu-expand .expand .taskBar .brightness,
main .menu-expand .expand .taskBar .volume {
  background: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: inset 0 0 8px 1px hsla(0, 0%, 100%, 0.153);
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  padding: 0.8rem 0.8rem;
  border-radius: 2rem;
  width: 100%;
}
main .menu-expand .expand .taskBar .brightness,
main .menu-expand .expand .taskBar .volume {
  width: 100%;
  padding: 0 0;
  position: relative;
  overflow: hidden;
}
main .menu-expand .expand .taskBar .brightness .box,
main .menu-expand .expand .taskBar .volume .box {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .menu-expand .expand .taskBar .brightness .box .line,
main .menu-expand .expand .taskBar .volume .box .line {
  width: 0%;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  height: 55px;
  border-radius: 2rem;
  left: 0;
  z-index: -1;
}
main .menu-expand .expand .taskBar .brightness .box .input_range,
main .menu-expand .expand .taskBar .volume .box .input_range {
  width: 100%;
  height: 55px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 2rem;
  outline: none;
}
main .menu-expand .expand .taskBar .brightness .box .input_range::-webkit-slider-thumb,
main .menu-expand .expand .taskBar .volume .box .input_range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 25px;
  opacity: 0;
  height: 25px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.2);
}
main .menu-expand .expand .taskBar .brightness p,
main .menu-expand .expand .taskBar .volume p {
  position: absolute;
  color: rgb(0, 0, 0);
  left: 50%;
  top: 50%;
  right: 0;
  transform: translate(80%, -50%);
  font-size: 1.1rem;
  font-family: monospace;
}
main .control-menu {
  border-radius: 0.5rem;
  padding: 1rem;
  padding-top: 0rem;
  padding-bottom: 0;
  background: hsla(0, 0%, 100%, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: inset 0 0 8px 1px hsla(0, 0%, 100%, 0.153);
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  width: -moz-fit-content;
  width: fit-content;
  display: none;
  position: absolute;
  z-index: 9;
}
main .control-menu ul li {
  list-style: none;
  padding: 0.8rem 1rem;
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
}
main .control-menu ul :last-child {
  border-bottom: none;
}
main .folder-menu {
  border-radius: 0.5rem;
  padding: 1rem;
  padding-top: 0rem;
  padding-bottom: 0;
  background: hsla(0, 0%, 100%, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: inset 0 0 8px 1px hsla(0, 0%, 100%, 0.153);
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  width: -moz-fit-content;
  width: fit-content;
  display: none;
  position: absolute;
  z-index: 9;
}
main .folder-menu ul li {
  list-style: none;
  padding: 0.8rem 1rem;
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
}
main .folder-menu ul :last-child {
  border-bottom: none;
}

@media (max-width: 1000px) {
  #overlay {
    display: none;
  }
  main {
    display: none;
  }
  .small-screen {
    color: black;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-size: 4vw;
    padding: 1rem;
  }
  .small-screen img {
    width: 8vw;
  }
}/*# sourceMappingURL=style.css.map */